.bg-image {
    height         : 100px;
    background     : center center no-repeat;
    background-size: cover;
    cursor         : pointer;
    width          : 200px;
    border         : none;
}

.clinic-customize {
    border-bottom: 1px solid #eee;
    margin       : 20px 0;
}

.detail-clinics-content {
    padding: 0 100px;
}