.manage-specialty-container {

    padding: 0 15px;

    .ms-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
    }

    .preview-img-container {
        .label-upload {
            padding: 6px;
            border-radius: 5px;
            background: #ddd;
            cursor: pointer;

            i {
                margin-left: 10px;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
}