//reset slick slider css
.slick-prev {
  left      : -15px !important;
  z-index   : 1000 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #fff !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #aceaea !important;
  }
}

.slick-prev::before,
.slick-next::before {
  font-family: Glyphicons Halflings !important;
  color      : #959595 !important;
}

.slick-next {
  right     : -15px !important;
  z-index   : 1000 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #fff !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #aceaea !important;
  }
}

.slick-disabled {
  display: none !important;
}

.section-share {
  &.section-have-bg {
    background: #f5f5f5;
  }

  &.section-outstanding-doctor,
  &.section-specialty {
    background: #f5f5f5;
  }

  &.section-about {
    height       : 500px !important;
    border-top   : 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  .specialty-body {
    .section-customize {
      .bg-image {
        width              : 278px;
        height             : 150px;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-color   : #eee;

        &.section-specialty {
          // background-image: url("../../assets/specialty/co-xuong-khop.jpg");
        }

        &.section-medical-facility {
          // background-image: url("../../assets/medical-facility/bv-viet-duc.jpg");
        }

        &.section-outstanding-doctor {
          // background-image: url("../../assets/outstanding-doctor/bsckii-tran-minh-khuyen.jpg");
          width        : 120px;
          height       : 120px;
          border-radius: 50%;
        }

        &.section-handbook {
          // background-image: url("../../assets/handbook/kinh-nghiem-mua-may-do-huyet-ap-dien-tu.jpg");
        }
      }
    }
  }
}

.section-share {
  height: 330px;

  .specialty-container,
  .doctor-container,
  .medical-container,
  .handbook-container {
    margin: 0 100px;

    .specialty-header,
    .doctor-header,
    .medical-header,
    .handbook-header {
      height       : 60px;
      margin-bottom: 20px;
      padding-top  : 20px;

      .title-section {
        font-size  : 24px;
        font-weight: bold;
      }

      .btn-section {
        float         : right;
        padding       : 10px 15px;
        border        : none;
        outline       : none;
        display       : block;
        background    : #ebebeb;
        color         : #333;
        cursor        : pointer;
        text-transform: uppercase;

        &:hover {
          color     : #fff;
          background: #f7d800;
        }
      }
    }
  }
}

.section-outstanding-doctor {
  .section-customize {
    padding: 5px;
    cursor : pointer;

    .customize-border {
      padding: 20px;
      border : 1px solid #d7d7d7;

      .outer-bg {
        display        : flex;
        justify-content: center;
        margin-bottom  : 10px;
      }

      &:hover {
        color: #45c3d2;
      }
    }
  }
}

.home-footer {
  text-align : center;
  padding-top: 8px;

  a {
    text-decoration: none;
  }
}

.section-about {
  padding: 0 100px;

  .section-about-header {
    padding    : 20px 10px;
    font-size  : 22px;
    font-weight: 600;
  }

  .section-about-content {
    display: flex;
    gap    : 15px;
    width  : 100%;

    .content-left {
      width: 60%;
    }

    .content-right {
      width: 40%;

      p {
        text-align: center;
        font-style: italic;
        padding   : 15px;
      }
    }
  }
}