.home-header-container {
    height          : 60px;
    width           : 100%;
    padding         : 0 20px;
    position        : sticky;
    top             : 0;
    background-color: #fff;
    z-index         : 100;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;

        .left-content {
            width      : 20%;
            display    : flex;
            align-items: center;

            i {
                font-size: 25px;
                color    : grey;
                cursor   : pointer;
            }

            .header-logo {
                height: 100%;
                width : 100%;
                cursor: pointer;
            }
        }

        .center-content {
            width          : 55%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            text-decoration: none;

            .child-content {
                text-align: center;

                .item {
                    text-decoration: none;
                }

                .subs-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }
        }

        .right-content {
            width          : 25%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;

            .support {
                padding-right: 50px;
                display      : flex;
                align-items  : center;
                cursor       : pointer;

                i {
                    font-size   : 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;

                    span {
                        color: #45c3d2;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;

                    span {
                        color: #45c3d2;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.item {
    text-decoration: none;
    color          : #000;

    &:hover {
        color: #000;
    }

    gap: 8px;
}

.home-header-banner {
    background         : url("../../assets/images/bg-official.jpg");
    height             : 750px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;

    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        padding-top     : 15px;
        height          : 65%;

        .title1 {
            text-align   : center;
            color        : #fff;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 20px;
            padding-top  : 100px;
        }

        .title2 {
            text-align   : center;
            color        : #fff;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 30px;
        }

        .search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            border-radius  : 25px;
            background     : #f7d800;
            position       : relative;

            input {
                height    : 30px;
                width     : 360px;
                background: transparent;
                border    : none;
                outline   : none;
            }

            i {
                padding: 0 10px;
            }
        }
    }

    .content-down {
        height         : 35%;
        display        : flex;
        padding-bottom : 10px;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 1));

        .options {
            display       : flex;
            flex-direction: center;
            align-items   : center;
            gap           : 50px;

            .option-child {
                .icon-child {
                    background   : #fff;
                    box-shadow   : 0px 1px 2px rgb(0, 0, 0 /50%);
                    width        : 50px;
                    height       : 50px;
                    padding      : 12px;
                    border-radius: 50%;
                    text-align   : center;
                    margin       : 2px auto;

                    i {
                        color    : #49bce2;
                        font-size: 25px;
                    }
                }

                .text-child {
                    font-size  : 20px;
                    font-weight: 500;
                    cursor     : default;
                }
            }
        }
    }
}

.search-result-container {
    position: absolute;
    top     : calc(100% + 10px);
    left    : 0;
    width   : 100%;
}