.doctor-detail-container {
  height: 500px;
  margin: 0 100px;

  .intro-doctor {
    display: flex;
    margin : 0 100px;

    .content-left {
      width        : 30%;
      background   : center center no-repeat;
      width        : 150px;
      height       : 150px;
      border-radius: 50%;
      margin       : 10px 20px;
    }

    .content-right {
      width         : 70%;
      display       : flex;
      flex-direction: column;
      padding-left  : 10px;

      .up {
        padding-top: 15px;
        font-size  : 20px;
        font-weight: 600;
      }

      .down {
        padding-top: 10px;
      }
    }
  }

  .detail-infor-doctor {
    margin          : 10px 100px;
    background-color: #ddd;
    border-top: 1px solid #ddd ;
    border-bottom: 1px solid #f9f9f9;

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}