.doctor-detail-container {
  height: 500px;

  //layout introdoctor
  .intro-doctor {
    display: flex;
    margin : 0 100px;

    .content-left {
      width        : 30%;
      background   : center center no-repeat;
      width        : 150px;
      height       : 150px;
      border-radius: 50%;
      margin       : 10px 20px;
    }

    .content-right {
      width         : 70%;
      display       : flex;
      flex-direction: column;
      padding-left  : 10px;

      .up {
        padding-top: 15px;
        font-size  : 20px;
        font-weight: 600;
      }

      .down {
        padding-top: 10px;
      }
    }
  }

  //layout schedule doctor
  .schedule-doctor {
    margin : 0 100px;
    display: flex;
    height : 200px;
    border : 1px solid red;

    .content-left {
      width: 50%;
    }

    .content-right {
      width: 50%;
    }
  }

  //layout detail doctor
  .detail-infor-doctor {
    padding         : 10px 100px;
    background-color: #f9f9f9;
    border-top      : 1px solid #ccc;
    border-bottom   : 1px solid #ccc;


    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }

  //layout comment doctor
  .comment-doctor {
    height: 50px;
  }
}