.bg-image {
    height         : 50px;
    width          : 50px;
    border         : 1px solid #ddd;
    background     : center center no-repeat;
    background-size: cover;
    cursor         : pointer;
}

.section-customize {
    border-bottom: 1px solid #eee;
}

.detail-specialties-content {
    margin: 0 100px;
    color : #333;
}