.detail-specialty-container{
    .detail-specialty-body{
        .bg-image {
            height: 100px;
            background: center center no-repeat;
            background-size: cover;
            cursor: pointer;
            width: 200px;
            border: none;


        }
    }
}

.section-customize {
    border-bottom: 1px solid #eee;
}