.user-redux-container {
  .title {
    color: #000;
  }

  .date-picker {
    position: relative;
    display : flex;

    .choose-date {
      z-index   : 10;
      background: transparent;
      cursor    : pointer;
    }

    .calendar {
      position : absolute;
      top      : 50%;
      right    : 0;
      transform: translate(-50%, -50%);
      font-size: 20px;
      z-index  : 9;
    }
  }

  .custom-input-password {
    position: relative;

    i {
      position: absolute;
      right   : 5px;
      top     : 10px;
      cursor  : pointer;
    }
  }

  .preview-img-container {
    .label-upload {
      padding      : 6px;
      border-radius: 5px;
      background   : #ddd;
      cursor       : pointer;

      i {
        margin-left: 10px;
      }

      &:hover {
        opacity: 0.9;
      }
    }

    .preview-image {
      height         : 50px;
      width          : 100%;
      border         : 1px solid #ddd;
      background     : center center no-repeat;
      background-size: contain;
      cursor         : pointer;
    }
  }

}