.change-password-container {

    width: 500px;

    .change-password-content {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .change-password-header {
            padding: 10px;
            border-bottom: 1px solid #ccc;

            .left {
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }

            .right {
                float: right;
                cursor: pointer;
            }
        }

        .change-password-body {
            height: 100%;
        }

        .change-password-footer {
            padding: 10px;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                border: none;
                outline: none;
                padding: 5px 8px;
                border-radius: 3px;
            }

            .btn-change-password-confirm {
                background-color: orange;
            }

            .btn-change-password-cancel {
                background-color: grey;
            }
        }
    }
}