#tableManagerUser {
  font-family    : Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width          : 100%;
}

#tableManagerUser td,
#tableManagerUser th {
  border : 1px solid #ddd;
  padding: 8px;
}

#tableManagerUser tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableManagerUser tr:hover {
  background-color: #ddd;
}

#tableManagerUser th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background-color: #04aa60;
  color           : white;
}

.table-specialty-statistical-image {
  width          : 200px;
  aspect-ratio   : 16/9;
  object-fit     : cover;
  object-position: center;
}