.manage-schedule-container {
    .title {
        color: #000;
    }

    .m-s-title {
        text-transform: uppercase;
        margin-top    : 15px;
        margin-bottom : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
    }

    .pick-hour-container {
        padding-top   : 20px;
        padding-bottom: 20px;
        display       : flex;
        gap           : 20px;
        flex-wrap     : wrap;

        button {
            padding: 5px 15px;
            border : 1px solid #ddd;
        }
    }

    .date-picker {
        position: relative;
        display : flex;

        .choose-date {
            z-index   : 10;
            background: transparent;
            cursor    : pointer;
        }

        .calendar {
            position : absolute;
            top      : 50%;
            right    : 0;
            transform: translate(-50%, -50%);
            font-size: 20px;
            z-index  : 9;
        }
    }

    .max-patients {
        width: 50px;
    }

    .btn-schedule {
        &.active {
            background-color: orange;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
    }
}