.manage-patient-container {
    .title {
        color: #000;
    }

    .date-picker {
        position: relative;
        display : flex;

        .choose-date {
            z-index   : 10;
            background: transparent;
            cursor    : pointer;
        }

        .calendar {
            position : absolute;
            top      : 50%;
            right    : 0;
            transform: translate(-50%, -50%);
            font-size: 20px;
            z-index  : 9;
        }
    }

    .number-patient {
        position     : relative;
        display      : flex;
        height       : 33.5px;
        border       : 1px solid #ced4da;
        border-radius: 0.25rem;

        .patient-text {
            font-size  : 20px;
            font-weight: bold;
            color      : #000;
            position   : absolute;
            top        : 50%;
            left       : 50%;
            transform  : translate(-50%, -50%);
        }

        .icons {
            position : absolute;
            top      : 50%;
            right    : 0;
            transform: translate(-50%, -50%);
            font-size: 20px;
            z-index  : 9;
        }
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {

            table,
            th,
            td {
                border         : 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding   : 5px;
                text-align: left;
            }

            button {
                border : none;
                outline: none;
                cursor : pointer;
            }

            .mb-btn-cancel {
                margin-left: 10px
            }
        }
    }
}


#TableManagerPatient {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#TableManagerPatient td,
#TableManagerPatient th {
    border : 1px solid #ddd;
    padding: 8px;
}

#TableManagerPatient tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableManagerPatient tr:hover {
    background-color: #ddd;
}

#TableManagerPatient th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04aa60;
    color           : white;
}