.login-background {
    height: 100vh;
    background: url("../../../src/assets/images/login-background.png") center no-repeat;

    .login-container {
        width: 400px;
        height: 300px;
        margin: 0 auto;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .login-content {
            padding: 10px;

            .login-text {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .login-btn {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg,
                        rgba(34, 193, 195, 1) 0%,
                        rgba(253, 187, 45, 1) 100%);
                color: #fff;
                font-size: 16px;
            }

            .forgot-password {
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    color: #307aff;
                }
            }

            .login-social {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background: #c32424;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background: #307aff;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                }
            }
        }
    }
}