.confirm-delete-container {

    width : 500px;
    height: 100%;

    .confirm-delete-content {
        height        : 100%;
        width         : 100%;
        display       : flex;
        flex-direction: column;

        .confirm-delete-header {
            padding      : 10px;
            border-bottom: 1px solid #ccc;

            .left {
                font-size  : 15px;
                font-weight: 600;
                color      : #333;
            }

            .right {
                float : right;
                cursor: pointer;
            }
        }

        .confirm-delete-body {
            height : 100%;
            padding: 10px 20px;

            .confirm-delete-text {
                display  : block;
                font-size: 16px;
            }
        }

        .confirm-delete-footer {
            padding        : 10px;
            border-top     : 1px solid #ccc;
            display        : flex;
            justify-content: flex-end;
            gap            : 15px;

            button {
                border       : none;
                outline      : none;
                padding      : 5px 8px;
                border-radius: 3px;
            }
        }
    }
}