.section-share {
    height: 370px;

    .handbook-child {
        padding: 5px;
        cursor : pointer;

        .customize-border {
            padding: 20px;

            .outer-bg {
                display        : flex;
                justify-content: center;

                .section-medical-handbook {
                    width : 300px;
                    height: 150px;
                }
            }

            &:hover {
                color: #45c3d2;
            }
        }

        .handbook-name {
            padding      : 10px 20px;
            font-weight  : bold;
            font-size    : 16px;
            text-overflow: ellipsis;
            overflow     : hidden;
        }
    }
}